In [178]:
## Master 6: Stock from web
## Description: Get the volumes of stocks using an API
## Language: Python
## Author: Alexander Hepburn
## Date: 23.04.2024

# in this task we want to understand the volume traded on the stock market in specific years by the predefined stocks. We will use google to get the data 

import pandas as pd 

# package to extract data from various Internet sources into a DataFrame 
import pandas_datareader.data as web

# package for dates 

import datetime as dt

In [179]:
# TASK 1: Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is) - use 

# we pick the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks 

#### Google has been deprecated. Therefore have to use a different api, using Alpha Vantage

stocks = ['AAPL', 'TSLA', 'IBM', 'LNKD'] # Stock symbols

start = dt.datetime(2015, 1, 1) # Enter start date as datetime variable

end = dt.datetime.now() # End now set to now

df = web.DataReader(stocks, "av-daily", start, end, api_key="DU5E0A12G3E9L5AS") # Datareader with Alpha Vantage (using my API-KEY)
df.head() # Verify results

              open    high     low   close   volume
2015-01-02  230.74  231.39  224.26  229.65  1200000
2015-01-05  227.99  232.20  225.56  227.51  1400000
2015-01-06  227.62  228.78  214.52  219.51  2009999
2015-01-07  220.99  223.43  217.37  222.16   985020
2015-01-08  223.59  228.72  220.77  227.05  1290000

In [180]:
# we now create a dataFrame called vol, with the Volume values. 
vol = df['volume']  # View the results
vol.head()

2015-01-02    1200000
2015-01-05    1400000
2015-01-06    2009999
2015-01-07     985020
2015-01-08    1290000
Name: volume, dtype: int64

In [181]:
# we now want to Aggregate the data of Volume to weekly 
vol.index = pd.to_datetime(vol.index) # Cast the index to datetime

new_vol = pd.DataFrame(index=vol.index, data={"volume": vol.values,"week" : vol.index.strftime('%U'), "year" : vol.index.year}) # Create a new Df with volume, week and year
new_vol.head(10) # Verify the results

             volume week  year
2015-01-02  1200000   00  2015
2015-01-05  1400000   01  2015
2015-01-06  2009999   01  2015
2015-01-07   985020   01  2015
2015-01-08  1290000   01  2015
2015-01-09  1520000   01  2015
2015-01-12  1650000   02  2015
2015-01-13  1580000   02  2015
2015-01-14  1370000   02  2015
2015-01-15  1370000   02  2015

In [182]:
week = new_vol.groupby(['week','year']).sum() # Code supplied by assignment 
week.head()

            volume
week year
00   2015  1200000
01   2015  7205019
     2016  6640000
02   2015  7080000
     2016  9170000

In [183]:
# TASK 2: Find all the volume traded in the year of 2015 
# tip: you will have to delete week column but also to use groupby

year = new_vol.groupby(['year']).sum() # Group by year and sum the volume
del year["week"] # Delete the week, although this is 100% needed
print(f"Volume in 2015 was: {year.loc[2015].iloc[0]}") # Print it nicely

Volume in 2015 was: 441277135